<?xml version="1.0"?>
<launch>
    <rosparam file="$(find tesi_bluerov2)/yaml/params.yaml" />
    <arg name="flag" default="PID" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch"> -->
        <arg name="world_name" value="$(find tesi_bluerov2)/src/mondo_bluerov2_wall.world" />
        <arg name="paused" value="true" />
    </include>

    <group
    if="$(eval flag == 'MPC')">
        <node name="MPC_6DOF" pkg="tesi_bluerov2" type="MPC_6DOF" />
    </group>

    <group
    if="$(eval flag == 'back')">
    <node name="backstepping_6DOF" pkg="tesi_bluerov2" type="backstepping_6DOF" />
    </group>
    
    <group
    if="$(eval flag == 'ad_back')">
    <node name="adaptive_backstepping_6DOF" pkg="tesi_bluerov2" type="adaptive_backstepping_6DOF" />
    </group>

    <group
    if="$(eval flag == 'PID')">
    <node name="PID_controller_6DOF" pkg="tesi_bluerov2" type="PID_controller_6DOF" />
    </group>

    <node name="dynamics" pkg="tesi_bluerov2" type="dynamics6DOF" />

    <!-- node name="traj_generator" pkg="tesi_bluerov2" type="traj_generator" / -->
    <!--node name="planning" pkg="tesi_bluerov2" type="planning" /-->
    <!-- node name="stereocamera" pkg="tesi_bluerov2" type="stereocamera" / -->
    <node name="imu" pkg="tesi_bluerov2" type="imu" />
    <node name="depth" pkg="tesi_bluerov2" type="depth" />
    <node name="gps" pkg="tesi_bluerov2" type="gps" />
    <node name="ping" pkg="tesi_bluerov2" type="ping" />
    <node name="dvl" pkg="tesi_bluerov2" type="dvl" />
    <node name="accelerometer" pkg="tesi_bluerov2" type="accelerometer" />
    <node name="EKF_dynamics" pkg="tesi_bluerov2" type="EKF_dynamics" />
    <node name="UKF_dynamics" pkg="tesi_bluerov2" type="UKF_dynamics" />
    <node name="EKF_no_dyn" pkg="tesi_bluerov2" type="EKF_no_dyn" />
    <node name="UKF_no_dyn" pkg="tesi_bluerov2" type="UKF_no_dyn" />
    <node name="manager" pkg="tesi_bluerov2" type="manager" />
    <node name="err_vis" pkg="tesi_bluerov2" type="err_vis" />
    <node name="guidance" pkg="tesi_bluerov2" type="guidance" />
    <node name="planner" pkg="tesi_bluerov2" type="planner" />    
    <node name="camera" pkg="tesi_bluerov2" type="camera" />
    <node name="sim_visualization_6DOF" pkg="tesi_bluerov2" type="sim_visualization_6DOF" />

</launch>
