<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find progetto_robotica)/src/mondo_bluerov2.world" />
        <arg name="paused" value="true"/>
    </include>
    <node name="plan" pkg="progetto_robotica" type="dynamics" />
</launch>