<?xml version="1.0"?>
<launch>
    <rosparam file="$(find progetto_robotica)/yaml/params.yaml" />
    <arg name="flag" default="back" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find progetto_robotica)/src/mondo_bluerov2.world" /> -->
        <arg name="world_name" value="$(find progetto_robotica)/src/mondo_bluerov2_wall.world" />
        <arg name="paused" value="true" />
    </include>

    <group
    if="$(eval flag == 'MPC')">
        <node name="model_pred_control" pkg="progetto_robotica" type="model_pred_control" />
    </group>

    <group
    if="$(eval flag == 'back')">
        <node name="backstepping" pkg="progetto_robotica" type="backstepping" />
    </group>

    <node name="dynamics" pkg="progetto_robotica" type="dynamics" />

    <node name="trajectory_generator" pkg="progetto_robotica" type="trajectory_generator" />
    <node name="sim_visualization" pkg="progetto_robotica" type="sim_visualization" />
    <node name="planner" pkg="progetto_robotica" type="planner" />
    <node name="camera" pkg="progetto_robotica" type="camera" />
    <node name="mission_manager" pkg="progetto_robotica" type="mission_manager" />
</launch>
